<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf/org">

<head>
    <meta charset="UTF-8">
    <title>책 수정하기</title>
</head>
<body>
<h1>책 수정하기</h1>
<!--th:action="@{/book/edit}"-->
<form method="POST" >
    <p>제목 : <input type="text" name="title"  th:value="${bookReadResponseDTO.title}" /></p>
    <p>가격 : <input type="text" name="price" th:value="${bookReadResponseDTO.price}"/></p>
    <input type="hidden" name="bookId" th:value="${bookReadResponseDTO.bookId}"/></p>
    <p> <input type="submit" value="저장" /></p>

</form>

</body>
</html>